<div class="page-container">
  <nav class="breadcrumb">
    <a routerLink="/">← Retour à l'accueil</a>
  </nav>
  <header class="detail-hero">
    <h1>Jugement et prise de décision</h1>
    <p class="subtitle">Soft Skill : Leadership Technique</p>
  </header>
  <section class="detail-content">
    <p>Dans un contexte professionnel, il est important de savoir évaluer une situation et d’effectuer un arbitrage
      entre plusieurs solutions, ou parfois de sacrifier un ticket pour en traiter un autre plus important. Il y a
      beaucoup de paramètres qui rentrent en compte pour prendre une décision qu’il serait trop long d’énumérer ici mais
      en voici quelques-uns.</p>
    <p>Il faut dans un premier temps analyser la situation, chercher à comprendre le problème et surtout en identifier
      la
      cause. Dans le développement logiciel il est courant de corriger un bug sans corriger sa cause, juste en mettant
      du scotch par-dessus en espérant que ça ne se voit pas trop. Comprendre la problématique est essentiel pour
      proposer un correctif adéquat, ou plus généralement, une solution adéquate.</p>
    <p>Une fois que la situation est comprise il faut recenser les différentes options, on se retrouve souvent avec
      plusieurs options : une qui est la meilleure techniquement mais qui sera plus ou moins chronophage, une moins
      propre mais qui sera plus rapide pour satisfaire une deadline.</p>
    <p>Enfin quand on a les différentes options il est temps de prendre une décision, c’est le moment de savoir si on a
      le temps de faire ce que l’on souhaite faire ou non, ou bien de se raisonner entre le choix du coeur ou le choix
      de la logique quand on hésite entre 2 technos différentes pour faire un projet.</p>
    <p>J’ai été amené à travailler cette compétence en entreprise lorsque l’on m’a fait travailler sur un projet de A à
      Z, notamment dans la sélection de sa stack technique.</p>
  </section>
</div>