<div class="page-container">
  <nav class="breadcrumb">
    <a routerLink="/">← Retour à l'accueil</a>
  </nav>
  <header class="detail-hero">
    <h1>Refonte outils internes</h1>
    <p class="subtitle">Refonte des outils internes de l'entreprise pour unifier la stack et moderniser les interfaces
    </p>
  </header>
  <section class="detail-content">
    <h2>Contexte :</h2>
    <p>L’entreprise dans laquelle j’ai effectué mon alternance utilise un certain nombre d’outils développés en interne
      pour différentes tâches. Il est possible d’accéder à ces outils via une plateforme web redirigeant ensuite sur le
      serveur où chaque outil est hébergé. Ces outils sont développés avec des piles de technologies différentes et
      hébergés sur différentes machines.</p>
    <p>On m’a confié le projet de reprendre une partie de ce site intégrant des outils aux stacks et architectures
      similaires, puis de les regrouper dans une même application. Les outils visés sont les outils web ayant un front
      communiquant avec une API faite avec SpringBoot. Certains de ces outils présentent des problèmes de conception
      causant des bugs mineurs assez difficiles à corriger en l’état, cette refonte est aussi l’occasion d’en corriger
      une
      partie.</p>
    <p>Avant de rentrer plus dans le détail, une présentation des outils ciblés par cette refonte s’impose :</p>
    <h2>Outil « Stubfactory » :</h2>
    <p>Stubfactory est un outil interne permettant la génération de stubs java à partir de fichiers cobol très
      spécifiques.
      Ces stubs sont utilisés afin de réaliser des appels de code cobol à l’intérieur du code java présent dans les
      différents applicatifs de l’entreprise. Cet outil a été créé suite à l’abandon de la licence Microsoft Access qui
      permettait d’effectuer ce travail de génération.</p>
    <p>Les stubs java représentent une partie de la logique métier des différents logiciels Active Infinite qui repose
      sur
      du code Cobol. Nous sommes contraints de l’utiliser en raison de la difficulté que représenterait leur migration
      vers des technologies plus récentes comme Java.</p>
    <p>En effet ce code, en plus d’être très volumineux (plusieurs millions de lignes de code), renferme certaines
      logiques
      très complexes sur le fonctionnement des logiciels (vérifications sur la validité d’un contrat par exemple) qui ne
      sont aujourd’hui plus parfaitement maîtrisées que ce soit par les développeurs ou les experts métier. Enfin, ce
      code
      cobol est utilisé depuis plus d’une vingtaine d’années et sa solidité a été éprouvée. Ainsi, le développer à
      nouveau
      constituerait une perte de temps. Ces stubs java sont utilisés afin d’appeler le code cobol. Il existe donc un
      stub
      java par composant cobol qui doit être appelé.</p>
    <p>Un stub java se décompose en 3 grandes parties :</p>
    <p>- La partie « input » décrit le format de données attendu pour exécuter le cobol. Elle est générée à partir d’un
      fichier cobol comportant ces informations</p>
    <p>- La partie « output » décrit le format de données attendu en sortie de l’appel cobol. Elle est générée à partir
      d’un fichier cobol comportant ces informations</p>
    <p>- La partie « Client » permet de réaliser l’appel du cobol dans son ensemble. Elle structure son appel en
      utilisant
      la partie input et en renvoie le résultat en utilisant la partie output. C’est ce fichier qui contient le code
      faisant la liaison entre le Java et le cobol</p>
    <h2>Outil « Tabref » :</h2>
    <p>Tabref est, à l’instar de Stubfactory un autre outil, permettant la consultation des tables de référence sur 5
      environnements différents.</p>
    <p>Les tables de références sont des tables en base de données communes à tous nos clients, ils ne peuvent pas les
      modifier. Elles contiennent des données constantes qui servent au paramétrage. Elles suivent toutes le même schéma
      :
      un code, un libellé court et un libellé long. Ces trois attributs sont le “minimum obligatoire” pour chaque table
      de
      références. Toutefois, certaines tables possèdent plus de colonnes pouvant contenir des paramètres nécessaires à
      la
      vérification des règles métier.</p>
    <p>Le but de cet outil est de pouvoir visualiser et rechercher des informations dans les tables de référence. Il
      permet
      aussi de changer un paramétrage présent chez le client via la génération d’un fichier .DAT qui sera ensuite
      transmis
      au client pour être intégré.</p>
    <h2>Contexte technique :</h2>
    <p>J’ai travaillé avec un collègue sur l’architecture et le choix des technologies du nouveau site. Le premier sujet
      de
      réflexion fut le choix de la technologie front. Des contraintes telles que les connaissances actuelles de nos
      développeurs, le choix de la librairie css ont été au coeur de la réflexion. Les deux principaux candidats étaient
      React avec comme librairie Material UI et Angular avec comme librairie Bootstrap.</p>
    <p>Nous avons finalement choisi Angular et Bootstrap en raison de sa meilleure scalabilité et aussi d’une préférence
      sur le découpage plus net entre le front et la logique des components. Angular embarque aussi des webkits,
      bootstrap
      propose de son côté des classes utilitaires très pratiques pour le développement et la standardisation du style
    </p>
    <p>Concernant le back, nous avons décidé de rester sur SpringBoot. Les API présentes sur les différents projets
      utilisaient toutes SpringBoot ce qui a appuyé ce choix en raison d’une plus grande facilité à migrer. Nous avons
      décidé de placer cette nouvelle API sur un nœud APISIX pour faciliter la gestion des requêtes (reverse-proxy, load
      balancer par exemple).</p>
    <p>J’ai ensuite dû faire des schémas représentant les anciennes applications et d’autres pour représenter la
      nouvelle
      architecture, le tout en utilisant la modélisation C4.</p>
    <p>J’ai utilisé pour cette modélisation un outil de modélisation appelé Structurizr. J’ai dû dans un premier temps
      déployer en local une image Docker portant une installation on-premise de l’outil, ce qui fut assez compliqué en
      raison du manque de documentation mais surtout de mon manque d’expérience avec Docker. J’ai ainsi pu découvrir
      cette
      technologie si commune dans le milieu du développement.</p>
    <p>Structurizr est un logiciel de modélisation s’appuyant sur des fichiers DSL. Il permet de faire très facilement
      de
      la modélisation C4 et de naviguer facilement entre les différentes échelles en cliquant sur les composants
      modélisés. Un autre avantage de modéliser via des fichiers DSL est la facilité à les intégrer dans un repository
      git
      et d’en gérer les versions et les évolutions.</p>
    <p>Enfin Structurizr propose aussi une image docker CLI permettant de pousser des fichiers sur une installation on
      premise, ce qui permet d’intégrer les schémas réalisés dans un processus de CI/CD.</p>
    <p>C’est ce qu’il m’a été demandé de faire une fois les schémas terminés. J’ai déployé l’image docker Structurizr
      On-premise sur un de nos environnements puis fait un job Jenkins permettant de pousser les schémas du repository
      git sur cette installation grâce à Structurizr CLI.</p>
    <h2>Refonte des interfaces utilisateurs :</h2>
    <p>La suite logique une fois la nouvelle architecture validée a été le travail de développement des nouvelles
      interfaces en repensant leur style et en appliquant la nouvelle structure. J’ai dans un premier temps configuré le
      projet angular en y installant les librairies nécessaires :</p>
    <p>- rxjs pour l’implémentation du design pattern observable</p>
    <p>- eslint pour le respect des bonnes pratiques de code</p>
    <p>- ng-bootstrap pour le style et les widgets</p>
    <p>Le projet a été créé avec la version 17 de Angular (version la plus récente au moment de la création) et les
      versions des autres librairies ont été adaptées en fonction.</p>
    <p>J’ai apporté quelques changement à l’interface, remplaçant par exemple la présentation des outils en page
      d’accueil par un bandeau latéral de navigation.</p>
    <p>Mon choix a principalement été fait pour des raisons de facilité de navigation, mais aussi pour se rapprocher du
      style des interfaces modernes de logiciels tels que jira.</p>
    <p>Stubfactory est le premier outil dont j’ai fait la refonte. Ce choix a été motivé par deux facteurs : la
      simplicité de l’outil et ma connaissance de celui-ci. J’ai donc re-développé son interface en repensant le style
      afin de la rendre plus agréable et ergonomique.</p>
    <p>J’ai gardé dans l’ensemble tous les éléments de l’interface stubfactory d’origine en changeant le thème de
      couleurs principal en sombre et en augmentant légèrement la taille de certains éléments.</p>
    <p>J’ai ensuite refait la partie logique de l’interface. J’ai dû faire moi-même un composant qui, dans l’ancienne
      application, avait été fait à l’aide d’une librairie exclusive à React. Le composant en question était une zone
      de dépôt de fichier.</p>
    <p>J’ai réalisé ce composant en gardant en tête le respect du design pattern de “single-responsibility”,
      c’est-à-dire le fait de ne pas mélanger la fonctionnalité du composant et la logique du contexte dans lequel il
      est utilisé.</p>
    <p>J’ai donc créé un composant “standalone” permettant de recueillir un ou plusieurs fichiers et de les supprimer
      au besoin. Ce composant émet ensuite, lorsqu’un nouveau fichier est reçu ou qu’un fichier est retiré, un
      événement au composant parent qui peut le gérer comme il le souhaite.</p>
    <p>Le composant ne contient donc pas la logique de détection de paires de fichiers, essentielle à stubfactory par
      exemple. Cela permettra d’utiliser ce composant dans d’autres outils si nécessaire.</p>
    <p>La création de ce composant réutilisable m’a permis d’apprendre de nouvelles spécificités d’Angular telles que
      les directives ou bien le principe même de composant standalone.</p>
    <p>J’ai utilisé un objet utilitaire appelé “Paire” pour gérer la logique de recherche de paires dans les fichiers
      reçus afin d’alléger la partie logique du composant en ne laissant que l’essentiel. Cela permet de garder une
      bonne lisibilité du code.</p>
    <p>J’ai enfin relié le nouveau front à l’API déjà déployée pour vérifier son bon fonctionnement. Il est essentiel
      de s’assurer que tout fonctionne avec l’API déjà en place car le but est de ne pas avoir à re-développer ces
      API.</p>
    <p>Stubfactory était un bon choix pour réaliser la première étape de cette refonte en raison de sa simplicité. Il
      m’a permis de comprendre l’approche à adopter au niveau du développement et des différents problèmes auxquels
      j’ai été confronté pendant la refonte.</p>
    <p>J’ai ensuite procédé de la même manière qu’avec Stubfactory pour migrer Tabref et les autres outils internes.</p>
    <p>Enfin j’ai dû mettre un place un processus de CI/CD pour ce nouveau projet afin de plus rapidement pouvoir
      mettre à disposition les nouveaux changements.</p>
    <p>Ce processus de CI/CD a été mis en place sur la plateforme Jenkins, déjà beaucoup utilisée dans l’entreprise
      pour tout le reste des projets. C’est normalement une autre équipe spécialisée qui s’occupe de mettre en place
      les pipelines, mais j’ai eu l’opportunité de travailler dessus pour ce projet car le contexte s’y prêtait, et je
      ne risquais pas vraiment d’effets de bord en cas d’erreur sur une technologie inconnue.</p>
    <p>Cela a donc été pour moi l’occasion de me former sur les pipelines Jenkins et de comprendre les différentes
      étapes d’un déploiement de bout en bout. Pour déployer la nouvelle plateforme, j’ai dans un premier temps dû
      dockeriser les deux instances (le site web et l’API) pour pouvoir plus facilement les faire tourner d’une
      machine à l’autre. J’ai ensuite créé des pipelines multibranches lançant les étapes de build à chaque nouveau
      commit sur une branche, dont les étapes pouvaient être différentes selon le type de branche (pas besoin de
      déployer sur un environnement un commit fait sur une branche feature par exemple)</p>

    <h2>Compétences associées</h2>
    <div class="competence-grid-small mt-4">
      <a routerLink="/competences/angular" class="realisation-card competence-tile">
        <h3>Angular</h3>
      </a>
      <a routerLink="/competences/java-springboot" class="realisation-card competence-tile">
        <h3>Java / SpringBoot</h3>
      </a>
      <a routerLink="/competences/docker" class="realisation-card competence-tile">
        <h3>Docker</h3>
      </a>
      <a routerLink="/competences/jenkins" class="realisation-card competence-tile">
        <h3>Jenkins CI/CD</h3>
      </a>
      <a routerLink="/competences/api" class="realisation-card competence-tile">
        <h3>API</h3>
      </a>
      <a routerLink="/competences/react" class="realisation-card competence-tile">
        <h3>React</h3>
      </a>
      <a routerLink="/competences/jugement" class="realisation-card competence-tile">
        <h3>Jugement et prise de décision</h3>
      </a>
      <a routerLink="/competences/collaboration" class="realisation-card competence-tile">
        <h3>Collaboration</h3>
      </a>
      <a routerLink="/competences/critique" class="realisation-card competence-tile">
        <h3>Esprit critique</h3>
      </a>
    </div>
  </section>
</div>