<div class="page-container">
  <nav class="breadcrumb">
    <a routerLink="/">← Retour à l'accueil</a>
  </nav>
  <header class="detail-hero">
    <h1>Spinnin'</h1>
    <p class="subtitle">Projet associatif pour venir en aide à un refuge animalier</p>
  </header>
  <section class="detail-content">
    <h2>Présentation</h2>
    <p>
      Spinnin’ est le nom de groupe choisi pour ce projet que j’ai réalisé avec 3 autres étudiants en 2ème année durant ma formation à l’ESIEA. Ce projet, contrairement aux autres n’est pas un projet informatique mais un projet de formation humaine, son objectif pédagogique est donc axé sur le développement des soft skills plutôt que des hard skills.
    </p>
    <p>
      Pour ce projet, nous devions créer une association dans le but de soutenir une cause qui nous tenait à coeur, et c’est de concert avec les autres membres du groupe que nous avons choisi la cause animale. Pour préciser l’objectif, nous avons décidé d’aider un refuge animalier de la région : le refuge animalier de Brax.
    </p>
    <p>
      Pour ce faire, nos ambitions se sont portées sur deux points : aider le refuge dans sa communication et participer aux coûts liés au bien être et à la vie des animaux.
    </p>
    <p>
      Ce projet avait pour but de développer un grand nombre de compétences pratiques, notamment la gestion de budget et la communication professionnelle avec d’autres marques dans le cadre de recherche de sponsoring. Bien que j’aie participé à la gestion du budget, cela n’a pas constitué ma tâche principale au cours de ce projet. J’ai pour ma part travaillé principalement sur la communication avec les marques et sur l’organisation des évènements. J’ai donc fait  le choix cohérent au moment de la formation du groupe d’être le secrétaire de l’association. 
    </p>

    <h2>Objectifs</h2>
    <p>Dans le cadre de ce projet, nous avons défini 3 principaux objectifs :</p>
    <p>- Récolter une somme d’argent qui permettra de faire un don au refuge par la suite, dans le but de l’aider dans ses dépenses de nourriture et autres. Cet argent sera collecté grâce à l’organisation d’un événement de vente de gaufres et au développement d’un site web pour un particulier</p>
    <p>- Récolter des ressources alimentaires par le biais de sponsors, et grâce à l’organisation d’une collecte alimentaire dans une grande surface</p>
    <p>- Réaliser des photos de qualité pour aider le refuge à promouvoir son activité sur ses réseaux</p>
    <p>
      L’enjeu pour nous était de mener à bien notre mission tout en gérant un budget et une organisation d’une ampleur que nous n’avions jamais rencontrée auparavant.
    </p>
    <p>
      Les risques du projet étaient principalement liés à tout ce qui était hors de notre contrôle direct. Pour proposer une réelle contribution à l’activité du refuge, un don trop faible ou une récolte alimentaire insuffisante n’auraient fait que perdre du temps à des bénévoles déjà très occupés. Ces points là dépendaient de la bonne réception de nos évènements par le public.
    </p>

    <h2>Réalisations</h2>
    <p>
      Comme dit précédemment, mon rôle au sein de la petite association que formait mon groupe était celui de secrétaire, et c’est donc naturellement que mes tâches se sont centrées autour de la production de différents écrits ainsi que de la planification. J’ai aussi pris part à la réalisation du site internet qui nous a permis d’obtenir un don pour le refuge. 
    </p>
    <p>
      Concernant le démarchage de sponsors, j’ai participé à la production du dossier de sponsoring, en rédigeant une présentation de notre association, de son projet ainsi que ses objectifs pour clarifier le projet et le vendre aux potentiels intéressés. Ce dossier de sponsoring a ensuite été imprimé pour être donné en mains propres à des sponsors locaux, et a aussi été transmis par mail à une grande quantité de sponsors que nous avons contactés par mail. J’ai rédigé la majeure partie de ces mails, qui ont pour la plupart reçu des réponses négatives.
    </p>
    <p>
      Nous avons reçu deux réponses positives suite à nos nombreux mails : une réponse de Animal Factory, une boutique de produits pour animaux et une du magasin Casino à Agen (Le Passage plus précisément). Les deux sponsors nous ont permis de réaliser notre objectif de collecte alimentaire.
    </p>
    <p>
      Animal Factory a réalisé une collecte de son côté dans plusieurs magasins de la région Lot et Garonne, dont ils nous ont transmis les produits à la fin. Le magasin Casino nous a permis d’organiser nous-mêmes une collecte alimentaire sur place, nous nous sommes rendus au refuge en amont afin de récupérer des affiches et du matériel qu’ils utilisent pour ce genre d’événement, afin de mieux les représenter sur place.
    </p>
    <p>
      Pour ces deux collectes, je me suis occupé en amont de la planification et de l’organisation des événements en communiquant par mail avec les sponsors. J’ai bien sûr aussi participé à la collecte dans la magasin Casino, un événement très formateur pour m’apprendre à passer outre ma timidité et aller vendre un projet à des inconnus dans le but de les convaincre de participer.
    </p>
    <p>
      Ces collectes ont permis de récolter environ 700€ de nourriture pour animaux, ce qui est une valeur bien supérieure à ce que nous attendions de l’événement (300€ environ).
    </p>
    <p>
      Nous avons aussi réalisé un site web pour un particulier, le propriétaire de la saladerie Bodeli. J’ai participé au développement de ce site avec un autre membre du groupe. Ce site était un site vitrine qui devait présenter une galerie photos des produits en plus d’une présentation de la boutique, il s’agissait donc d’un site vitrine assez simple. Le cadre limité de ce projet ne nous permettant pas de nous engager à maintenir un site plus conséquent avec des fonctionnalités d’administration par exemple, nous avons cadré la commande pour qu’elle corresponde à un site vitrine que nous n’aurions pas à maintenir par la suite.
    </p>
    <p>
      Ce site a été réalisé en React, en raison de la compatibilité de cette librairie avec des infrastructures réduites par rapport à ses concurrents comme Angular. J’ai développé la page d’accueil avec la présentation de la saladerie et la galerie de photos promotionnelles. Mon camarade s’est principalement occupé du web design du site.
    </p>
    <p>
      La réalisation de ce site en react a été une opportunité pour moi de découvrir ce framework ainsi que d’en apprendre les bases, ce qui m’a été utile par la suite lors de certains projets en entreprise portant sur ce même framework.
    </p>
    <p>
      Le projet s’est conclu par plusieurs visites au refuge, au cours desquelles nous avons transmis nos dons au personnel et réalisé les photos mentionnées dans les objectifs. Nous avons versé au total 300€ de don grâce au développement du site web en plus des 700€ de nourriture récoltés.
    </p>

    <h2>Regard critique</h2>
    <p>
      Ce projet a été pour moi une expérience humaine enrichissante sur plusieurs aspects. Dans un premier temps l’aspect communication sur lequel j’ai fait beaucoup de progrès, que ce soit dans l’aisance à l’oral ou dans la rédaction de mails. La collecte alimentaire au magasin Casino a été pour moi une occasion d’aller au-delà de ma timidité et d’accepter le regard des autres, chose dont je tire encore les résultats aujourd’hui.
    </p>
    <p>
      Bien que ça ne soit pas très détaillé dans cet article car je n’y ai pas beaucoup contribué par rapport au reste, ce projet m’a fait travailler dans un cadre assez précis qu’est celui d’une association et m’a introduit à la gestion de budget ainsi qu’à la réalisation de notes de frais, très utiles au quotidien.
    </p>
    <p>
      En somme, je considère que ce projet a été très formateur à titre personnel et professionnel, et j’en tire des bénéfices encore à ce jour dans mon expérience professionnelle.
    </p>

    <h2>Compétences associées</h2>
    <div class="competence-grid-small mt-4">
      <a routerLink="/competences/react" class="realisation-card competence-tile color-tech">
        <h3>React</h3>
      </a>
      <a routerLink="/competences/communication" class="realisation-card competence-tile color-human">
        <h3>Communication écrite</h3>
      </a>
      <a routerLink="/competences/collaboration" class="realisation-card competence-tile color-human">
        <h3>Collaboration</h3>
      </a>
      <a routerLink="/competences/critique" class="realisation-card competence-tile color-human">
        <h3>Esprit critique</h3>
      </a>
    </div>
  </section>
</div>