<div class="page-container">
  <nav class="breadcrumb">
    <a routerLink="/">← Retour à l'accueil</a>
  </nav>
  <header class="detail-hero">
    <h1>Automatisation stubs infinite</h1>
    <p class="subtitle">Travail autour du processus de génération des stubs</p>
  </header>
  <section class="detail-content">
    <h2>Contexte :</h2>
    <p>La logique métier des différents logiciels Active Infinite repose sur du code Cobol. Nous sommes contraints de
      l’utiliser en raison de la difficulté que représenterait leur migration vers des technologies plus récentes comme
      Java.</p>

    <p>En effet ce code, en plus d’être très volumineux (plusieurs millions de lignes de code), renferme certaines
      logiques
      très complexes sur le fonctionnement des logiciels (vérifications sur la validité d’un contrat par exemple) qui ne
      sont aujourd’hui plus parfaitement maîtrisées que ce soit par les développeurs ou les experts métier. Enfin, ce
      code
      cobol est utilisé depuis plus d’une vingtaine d’années et sa solidité a été éprouvée. Ainsi, le développer à
      nouveau
      constituerait une perte de temps. Ces stubs java sont utilisés afin d’appeler le code cobol. Il existe donc un
      stub
      java par composant cobol qui doit être appelé.</p>

    <p>Un stub java se décompose en 3 grandes parties :</p>
    <p>- La partie « input » décrit le format de données attendu pour exécuter le cobol. Elle est générée à partir d’un
      fichier cobol comportant ces informations</p>
    <p>- La partie « output » décrit le format de données attendu en sortie de l’appel cobol. Elle est générée à partir
      d’un fichier cobol comportant ces informations</p>
    <p>- La partie « Client » permet de réaliser l’appel du cobol dans son ensemble. Elle structure son appel en
      utilisant
      la partie input et en renvoie le résultat en utilisant la partie output. C’est ce fichier qui contient le code
      faisant la liaison entre le Java et le cobol</p>

    <p>Il existe un outil développé en interne appelé StubFactory pour générer ces stubs qui sont ensuite mis aux bons
      endroits dans le code java pour pouvoir être appelés. J’ai effectué différentes tâches sur cet outil dans le but
      final de pouvoir automatiser le processus de génération plutôt que de passer par une interface web.</p>

    <h2>Architecture et fonctionnement de l’outil :</h2>

    <p>L’application Stubfactory se trouve sur le site des outils internes. C’est une application web comportant un
      front
      développé en React et un back sous la forme d’une API développée avec Java 8 et Spring Boot.</p>

    <p>L’application et l’API sont regroupées ensemble dans un dépôt à part avec un dossier pour le front et un dossier
      pour le back.</p>

    <p>On peut décrire un appel type de l’outil de la manière suivante :</p>
    <img src="images/stubs_1.png" alt="Architecture Stubfactory">
    <h2>Les différentes missions réalisées</h2>
    <h2>Correction de bugs</h2>
    <p>C’est le premier outil sur lequel j’ai travaillé durant l’année. Le travail qui m’a été confié était une
      correction
      de certains bugs de génération listés dans un ticket Jira. Les stubs permettant d’appeler un grand nombre de
      fonctionnalités métier telles que la vérification de la validité d’un contrat, ou encore le chargement des
      informations d’un assuré, la correction de ces bugs a impacté un nombre conséquent de fonctionnalités.</p>
    <p>Mon premier défi ne fut pas la correction de bug en elle-même, mais l’installation de l’outil sur mon poste afin
      de
      le débugger. En raison d’un manque de documentation sur l’architecture et les différentes contraintes de
      fonctionnement de l'outil, il m'a fallu un long travail de recherche dans le code afin de réussir à l’installer en
      local.</p>
    <p>Les problèmes venaient de certaines propriétés configurées dans le fichier “app.properties” de l’API qui
      m’ empêchaient de faire les requêtes en cross-origin.</p>
    <p>J’ai dans un premier temps vérifié la présence des problèmes cités dans mon ticket Jira en générant les stubs
      énoncés avec l’outil. Je me suis alors rendu compte que deux des trois bugs cités n’étaient soit inexistants soit
      ne
      causaient aucun problème de fonctionnement.</p>
    <p>Enfin le dernier bug était un problème de génération sur un cas très spécifique pour lequel j’ai rajouté un bloc
      conditionnel dans le code.</p>
    <p>J’ai rencontré des difficultés supplémentaires pour ensuite remettre le logiciel en production en passant par la
      Pipeline de CI/CD déjà en place. La pipeline était tombée en échec en raison d’un problème de version d’une
      dépendance qui n’avait pas été mise à jour depuis 2018. J’ai eu quelques difficultés à détecter la source du
      problème en raison de mon manque d’expérience avec les outils de CI/CD au moment de ce travail.</p>
    <p>Bien que relativement basique, ce travail a été très enrichissant car il m’a appris à faire de la recherche dans
      un
      code dont je ne suis pas l'auteur. J’ai aussi appris quels types de fichiers étaient les plus susceptibles de
      contenir les informations que je cherchais, ceux qui pouvaient causer des problèmes.</p>
    <p>Il m’a aussi permis de découvrir Spring-boot, les bases de son fonctionnement et son utilité, ce qui m’a beaucoup
      apporté étant donné la prévalence de ce framework dans les projets Java de nos jours.</p>
    <p>Enfin, j’ai pu avoir une première expérience avec le processus de CI/CD avec lequel j’ai beaucoup eu à travailler
      par la suite.</p>
    <h2>Centralisation de la génération</h2>
    <p>Bien que le but du générateur Stubfactory soit de générer des stubs quel que soit le logiciel pour lequel ils
      doivent être générés, il existe un autre générateur codé différemment pour les stubs destinés à l’application WSI.
      En effet le code des stubs générés est inséré dans le logiciel auquel ils est destiné. Cela implique des
      différences
      structurelles, notamment au niveau du nommage des packages.</p>
    <p>C’est ainsi qu’un autre générateur totalement indépendant de Stubfactory a été développé pour WSI afin de générer
      des stubs conformes aux besoins de l'application. Cette redondance de code pose problème dans le cadre de
      correctifs
      puisque cela implique de les faire deux fois. C’est pour répondre à cette problématique que l’on m’a confiée la
      mission de comparer les deux générateurs afin de centraliser la génération en un seul.</p>
    <p>La comparaison des deux générateurs fut assez fastidieuse car leurs fonctionnements étaient diamétralement
      opposés.
      En effet, Stubfactory utilise les fichiers reçus pour les convertir en liste de déclarations cobol sur lesquelles
      il
      itère afin de remplir une map d’informations qui lui permettent de remplir des templates de classes java.</p>
    <p>Le générateur WSI quant à lui utilise un répertoire de fichiers dans lequel il recherche les paires, lit chaque
      fichier ligne par ligne et écrit dans un fichier en parallèle en s’appuyant sur une structure objet prédéfinie et
      sur des switch/case.</p>
    <p>Le code du générateur WSI étant bien trop volumineux pour pouvoir en faire une analyse complète et détaillée,
      j’ai
      choisi dans un premier temps de comparer les résultats obtenus en générant un grand nombre de stubs avec chacun
      des
      générateurs. Il n’en est ressorti aucune différence de logique, uniquement des différences sur le nommage des
      packages ainsi que sur le type d’exception jeté en cas d’erreur d’exécution.</p>
    <p>J’ai donc créé de nouveaux templates à l’intérieur de Stubfactory que j’ai modifiés afin qu’ils correspondent à
      ce
      qui est attendu pour les stubs de WSI. J’ai ensuite intégré ces templates au processus de génération déjà établi
      pour permettre une génération de stubs à la fois pour le logiciel principal (MDG) et WSI.</p>
    <h2>Automatisation de la génération</h2>
    <p>A l’heure actuelle, les stubs sont générés et insérés tels quels aux endroits où ils sont nécessaires. Cette
      approche comporte plusieurs problèmes :</p>
    <p>-Code redondant : Les stubs comportent beaucoup de similitudes entre eux. Apporter une modification à un stub
      impliquera sans doute le report de cette modification sur tous. Il est en l’état très long de reporter cette
      modification car tous les stubs sont éparpillés et générés un par un. Ce problème ne peut pas être laissé de
      côté
      lorsque l’on utilise plus de 2 000 stubs.</p>
    <p>-Mise à jour manuelle : Les stubs générés dépendent de fichiers cobol qui peuvent être parfois légèrement
      modifiés.
      La modification d’un des fichiers à l’origine de la génération implique de regénérer le stub associé afin d’être
      en
      accord avec les modifications apportées. Le système utilisé actuellement étant une interface web générant les
      stubs
      dans un zip ensuite renvoyé n’est pas propice à l’automatisation d’un tel procédé.</p>
    <p>C’est pourquoi il m’a été confié la mission de créer un nouveau générateur qui permettrait de générer
      l’intégralité
      des stubs nécessaires en une seule fois, de les compiler et de les mettre à disposition comme dépendance sur le
      repository de l’entreprise. Le but étant d’enlever le code généré présent à beaucoup d’endroits et de pouvoir
      intégrer la génération des stubs au processus de CI/CD déjà en place.</p>
    <p>L’objectif est donc de générer les stubs lorsqu’un changement est détecté dans le répertoire des sources cobol
      afin
      de pouvoir les tenir à jour en permanence et de supprimer cette tâche assez fastidieuse aux équipes de
      développement.</p>
    <p>J’ai dans un premier temps créé un plugin Maven dans lequel j’ai importé la logique du générateur de Stubfactory
      que
      j’ai ensuite modifiée afin que l’écriture des fichiers ne se fasse plus dans un zip mais dans un simple dossier
      sur
      le disque de la machine. Puis j’ai fait en sorte que le plugin prenne en paramètre un dossier source qu’il
      parcourt
      pour générer tous les stubs associés aux fichiers présents à l’intérieur. C’est après ces changements apportés que
      j’ai obtenu un premier prototype de génération de masse.</p>
    <h2>Optimisation et solidification de l’algorithme</h2>
    <p>Les fichiers listés par la fonction getFiles() étant classés par ordre alphabétique, j’ai utilisé cette propriété
      pour concevoir mon premier algorithme. Je pouvais ainsi trouver les paires en itérant les fichiers listés 2 par 2.
      Cette solution comportait un grand avantage concernant l’optimisation, puisque le coût de l’algorithme était
      linéaire avec le nombre de fichiers présents dans le répertoire, ce qui me permettait de générer plusieurs
      milliers
      de stubs en seulement 2 à 3 minutes. Elle comportait aussi de nombreux problèmes de solidité : les cas d’un
      fichier
      présent sans sa paire, d’un fichier indésirable, ou simplement le fait que la fonction ne garantisse pas de
      renvoyer
      les résultats par ordre alphabétique.</p>
    <p>J’ai donc dû repenser l’algorithme avec une approche assez classique : faire un premier tour du listing afin de
      mettre dans une liste tous les fichiers input et dans une autre tous les fichiers output, puis d’itérer sur une
      des
      deux en cherchant la paire dans l’autre liste. Ce procédé permet de gérer les fichiers indésirables plus
      facilement
      et de simplement ignorer un fichier pour lequel on ne trouverait pas de paire correspondante.</p>
    <p>C’est avec cette nouvelle logique que j’ai retesté l’algorithme qui a certes fonctionné mais présentait un
      sérieux
      problème d’optimisation, la nouvelle génération a duré 2h30. Le problème venait de la complexité de l’algorithme :
    </p>

    <p>-L’ancien algorithme avait une complexité de n/2</p>
    <p>-Le nouvel algorithme avait une complexité de n²</p>
    <p>n étant nombre de fichiers.</p>
    <p>Pour optimiser l’algorithme, j’ai rajouté dans la logique la suppression d’un fichier de la liste de recherche
      lorsqu’il est trouvé. Cela permet de diminuer drastiquement le nombre d’itérations même dans le pire des cas. Avec
      l’arrivée des fichiers par ordre alphabétique, il s’est avéré que la paire recherchée se trouvait toujours en tête
      de la liste de recherche après cette modification. Le temps d’exécution de l’algorithme de génération entier est
      alors passé de 2h30 à 20 minutes, ce qui est une amélioration considérable.</p>
    <p>La dernière modification que j’ai apportée à l’algorithme permettait de limiter la génération des stubs à une
      liste
      écrite dans un fichier texte pour éviter de générer du code non utilisé.</p>
    <h2>Gestion de la compilation</h2>
    <p>Une fois le générateur bien en place et parfaitement fonctionnel, j’ai dû m’occuper de la compilation du code
      généré. Cette étape fut très longue en raison de la très grande quantité de code généré et du temps de
      compilation.</p>
    <p>J’ai dans un premier temps importé dans le projet cible de la génération l’ensemble des packages et fichiers
      nécessaires au fonctionnement des stubs. J’en ai refait la structure afin que ce code soit séparé du package dans
      lequel les stubs sont générés pour simplifier le processus et par souci de structure.</p>
    <p>Cette première étape a permis de compiler 95% des stubs générés. Les 5% restants ont permis de déceler de
      nouveaux
      bugs dans le générateur initial de Stubfactory ou bien dans le code cobol d’origine. J’ai corrigé les problèmes de
      compilation de tous les stubs à l’exception d’un seul. J’ai pu conclure après une recherche approfondie dans les
      différents projets appelant du cobol qu’il n’était pas utilisé. Je m’en suis assuré auprès de mon maître
      d’apprentissage avant de retirer le stub de la génération.</p>
    <h2>Automatisation et intégration</h2>
    <p>La dernière étape de ce travail consiste à intégrer l’exécution de ce plugin au processus de CI/CD déjà en place
      sur
      le projet où se trouvent les fichiers cobol source. J’ai écrit une pipeline Jenkins vérifiant les changements
      présents dans le répertoire source qui lance une génération si des modifications sont détectées. Le code généré
      est
      ensuite compilé dans un jar.</p>
    <p>Ce travail est encore en cours, je dois attendre l’intervention d’un spécialiste cobol pour refaire le découpage
      du
      répertoire des stubs. Il faudra par la suite mener des campagnes de tests avec les nouveaux stubs générés pour
      vérifier leur intégrité. Si les tests sont concluants, il restera encore un important travail de refonte du code
      afin d’implémenter les stubs sous forme de dépendance à la place des classes actuellement mises en dur.</p>
    <h2>Résultats : </h2>
    <p>Puisque ce travail est toujours en cours, il n’y a à l’heure actuelle pas de résultats précis et quantifiables à énoncer. Une fois terminé, il permettra de rendre transparent un processus qui est actuellement fait manuellement, ce qui constituera un grand gain de temps pour les équipes concernées. </p>
    <h2>Regard critique : </h2>
    <p>Ce travail, a été pour moi un peu particulier, car il m’a demandé de comprendre un langage que je ne connaissais pas du tout : le cobol. Il m’a été nécessaire de comprendre les bases afin de pouvoir comprendre les bugs de génération, et ce, rapidement pour ne pas prendre trop de retard dans mon travail. </p>
    <p>La correction de bugs était aussi mon premier travail en alternance et m’a donc permis de faire mes preuves, ce que j’ai assez bien réussi pour qu’on me confie la suite du travail sur l’automatisation du processus, un projet en suspens depuis longtemps faute de temps. </p>
    <p>J’ai pu utiliser mes compétences en algorithmie, qui est un sujet que j’apprécie beaucoup mais qui est peu utilisé dans le développement logiciel en informatique de gestion. Avoir pu optimiser une génération de milliers de fichiers pour qu’elle ne prenne que quelques minutes est pour moi une grande réussite. </p>
    <p>Enfin, j’ai travaillé sur une vision plus orientée livraison et DevOps lors de ce projet, ce qui a été une première pour moi et m’a donné envie d’approfondir cette partie de mes compétences. Si je devais refaire ce projet aujourd’hui, mon axe principal d’amélioration serait au niveau du suivi et de sa priorisation avec les autres tickets de maintenance. </p>

    <h2>Compétences associées</h2>
    <div class="competence-grid-small mt-4">
      <a routerLink="/competences/java-springboot" class="realisation-card competence-tile color-tech">
        <h3>Java / SpringBoot</h3>
      </a>
      <a routerLink="/competences/jenkins" class="realisation-card competence-tile color-tech">
        <h3>Jenkins CI/CD</h3>
      </a>
      <a routerLink="/competences/communication" class="realisation-card competence-tile color-human">
        <h3>Communication écrite</h3>
      </a>
      <a routerLink="/competences/collaboration" class="realisation-card competence-tile color-human">
        <h3>Collaboration</h3>
      </a>
    </div>
  </section>
</div>