<div class="page-container">
  <nav class="breadcrumb">
    <a routerLink="/">← Retour à l'accueil</a>
  </nav>
  <header class="detail-hero">
    <h1>Esprit critique</h1>
  </header>
  <section class="detail-content">
    <p>Cette compétence humaine est complémentaire avec la compétence “Jugement et prise de décision”. En effet, il est
      difficile d’avoir un bon jugement sans un bon esprit critique !</p>
    <p>Selon moi, l’esprit critique n’est pas une compétence que l’on apprend dans un cadre scolaire mais quelque chose
      qui
      s’affine au cours d’une vie, au fur et à mesure que l’on fait face à différentes épreuves ou simplement que l’on
      découvre des nouveaux sujets. Il intervient au quotidien lorsque l’on reçoit une information quelle qu’elle soit,
      c’est lui qui nous permet de trouver des failles à un argumentaire par exemple, ou bien de rester sceptique quand
      quelque chose est “trop beau pour être vrai”.</p>
    <p>C’est essentiel de savoir faire le tri dans toutes les informations que l’on reçoit, et de savoir analyser de la
      manière la plus objective possible une situation, un argumentaire, etc. Avoir un bon esprit critique, c’est aussi
      être conscient de ses propres biais car il est impossible d’être parfaitement neutre, et donc c’est aussi savoir
      quand il est nécessaire de demander un avis extérieur pour voir un sujet sous une autre perspective et mettre à
      l’épreuve notre vision initiale.</p>
    <p>Mes projets menés en entreprise m’ont souvent amené à devoir analyser l’existant pour prendre une décision quant
      à
      la démarche à suivre pour résoudre un problème, souvent en me posant des questions sans réelle “bonne réponse”. En
      effet dans le métier de développeur et surtout d’architecte technique, une fois que l’on connaît les bonnes
      pratiques et les règles à respecter il est rare de n’avoir qu’une seule bonne solution. Dans le projet “Refonte
      des
      outils internes” notamment,, j’ai été amené à prendre de nombreux choix architecturaux qui m’ont poussé à faire
      preuve d’esprit critique pour pouvoir choisir correctement.</p>

    <h2>Réalisations associées</h2>
    <div class="competence-grid-small mt-4">
      <a routerLink="/realisations/spinnin" class="realisation-card competence-tile">
        <h3>Spinnin’</h3>
      </a>
      <a routerLink="/realisations/refonte" class="realisation-card competence-tile">
        <h3>Refonte outils internes</h3>
      </a>
      <a routerLink="/realisations/activ-infinite" class="realisation-card competence-tile">
        <h3>Activ-Infinite</h3>
      </a>
    </div>
  </section>
</div>